---
// This is an Astro component
// Props can be added here if needed
---
<a aria-label="Download Dorian resume" href="../../public/cv_dmichaud.pdf" download>
<button class="btn btn-primary" aria-label="Download my resume">
    Télécharger mon CV
</button>
</a>