---
import { Icon } from "astro-icon/components";

// This is an Astro component
// Props can be added here if needed
---
<a aria-label="Download Dorian resume" href="/cv_dmichaud.pdf" download>
<button class="btn btn-primary" aria-label="Download my resume">
    <Icon name="fa-solid:download"/>Télécharger mon CV
</button>
</a>