---
// import RollingCard from "./subcomponents/RollingCard.astro";
import RollingCard from "./subcomponents/RollingCard.astro";
import { Icon } from "astro-icon/components"
import Timeline from "./Timeline.astro";
---
<!-- TODO : fix content in cards -->
<div class="flex flex-col mx-auto px-4 py-1 max-w-6xl overflow-hidden"> 
  <h2 class="text-3xl font-bold text-center mb-4">Diplômes</h2>
  <div class="text-center text-md text-secondary-content">Ci-dessous, mes différents diplômes obtenus.</div>
  <div class="flex flex-wrap overflow-x-scroll mt-[-200px]">
    <Timeline/>  
  </div>
</div>
