<footer class="footer sm:footer-horizontal footer-center glass text-base-content p-4">
  <aside>
    <p>Copyright © {new Date().getFullYear()} - Dorian Michaud, tous droits réservés.</p>
  </aside>
</footer>