---
import { Icon } from "astro-icon/components";

// This is an Astro component
// Props can be added here if needed
---
<div class="m-4">
<a aria-label="Go to github page" href="https://github.com/dmicha02" target="_blank" >
<button class="btn btn-primary" aria-label="Download my resume">
    <Icon name="fa-brands:github"/>Plus de projets...
</button>
</a>
</div>