---
import ImageMoi from '../assets/moi_wb.png';
import ImageMoiCartoon from '../assets/moi_cartoon_wb.png';
---

<div id="mainlogo">
	<img alt="photo de Dorian" class="logobottom" src={ImageMoi.src} width="240" />
	<img alt="cartoon de Dorian" class="logotop" src={ImageMoiCartoon.src} width="240"/>
  </div>
<style>
	 @-webkit-keyframes logomorph {
    0% {
      opacity:1;
    }
    25% {
      opacity:1;
    }
    75% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
    }
    
    @-moz-keyframes logomorph {
    0% {
      opacity:1;
    }
    25% {
      opacity:1;
    }
    75% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
    }
    
    @-o-keyframes logomorph {
    0% {
      opacity:1;
    }
    25% {
      opacity:1;
    }
    75% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
    }
    
    @keyframes logomorph {
    0% {
      opacity:1;
    }
    25% {
      opacity:1;
    }
    75% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
    }
    
    #mainlogo {
		display: flex;
    position: relative;
		justify-content: center;
      text-align: center;
      
      margin:0 auto;
     
    }
    #mainlogo img.logotop {
      position: relative;
      top:0;
      border-radius: 50%;
    }
	#mainlogo img.logobottom {
      position: absolute;
      top:0;
      border-radius: 50%;
    }
    
    #mainlogo img.logotop {
      -webkit-animation-name: logomorph;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 5s;
      -webkit-animation-direction: alternate;
    
      -moz-animation-name: logomorph;
      -moz-animation-timing-function: ease-in-out;
      -moz-animation-iteration-count: infinite;
      -moz-animation-duration: 5s;
      -moz-animation-direction: alternate;
    
      -o-animation-name: logomorph;
      -o-animation-timing-function: ease-in-out;
      -o-animation-iteration-count: infinite;
      -o-animation-duration: 5s;
      -o-animation-direction: alternate;
    
      animation-name: logomorph;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      animation-direction: alternate;
    }

  

</style>
