---
import { Icon } from "astro-icon/components";

---
<div class="grid grid-cols-1 md:grid-cols-3 mx-auto px-4 py-1 max-w-6xl overflow-hidden justify-center">

<!-- <Icon name="fa-solid:award" class="h-5 w-5" /> -->
      <div class="card rounded-b-2xl rounded-t-none group rolling hover:scale-105 hover:rotate-[1deg] hover:z-10 
    relative overflow-visible bg-base-200 p-6 shadow-md 
    hover:shadow-lg hover:bg-base-300 max-w-xs h-auto m-4">
        <div class="flex flex-col gap-2 text-sm text-gray-500 group-hover:text-primary transition-colors duration-300">
          <div class="flex flex-row gap-2  font-semibold text-base-content">
            <Icon name="fa-solid:chalkboard-teacher" class="h-5 w-5" />
            SRE fundamentals with Google</div>
            <div class="text-info">
              <div class="inline-grid *:[grid-area:1/1]">
                  <div class="status status-info animate-ping"></div>
                  <div class="status status-info"></div>
              </div> En cours (mai 2025)
            </div>
            <p>Via Uplimit by <a aria-label="Salim Virgi Linkedin" href="https://linkedin.com/lasagnaboy" target="_blank" class="underline">Salim Virgi</a></p>
          </div>
          <p class="mt-4 text-gray-600 group-hover:text-primary leading-relaxed transition-colors duration-300">
            Apprentisage des bases du SRE selon Google : concepts clés comme les SLO, la surveillance, les alertes et la conception de systèmes fiables. 
          </p>
          <p class="mt-4 text-gray-600 group-hover:text-primary leading-relaxed transition-colors duration-300">
            Réalisation de deux projets : un sur la mise en place des SLOs et SLIs associés ; et l'autre sur la mise en place d'un système fiable.
          </p>
          <div class="flex flex-wrap m-2 gap-2">
          <span class="badge badge-primary badge-sm badge-outline group-hover:badge-ghost h-fit">SRE</span>
          <span class="badge badge-primary badge-sm badge-outline group-hover:badge-ghost h-fit">SLO/SLI/SLA</span>
          <span class="badge badge-primary badge-sm badge-outline group-hover:badge-ghost h-fit">Prometheus/Grafana</span>
          <span class="badge badge-primary badge-sm badge-outline group-hover:badge-ghost h-fit">Kubernetes</span>
          <span class="badge badge-primary badge-sm badge-outline group-hover:badge-ghost h-fit">Monitoring</span>
          <span class="badge badge-primary badge-sm badge-outline group-hover:badge-ghost h-fit">System Design</span>
        </div>
      </div>  

            <div class="card rounded-b-2xl rounded-t-none group rolling hover:scale-105 hover:rotate-[1deg] hover:z-10 
    relative overflow-visible bg-base-200 p-6 shadow-md 
    max-w-xs h-auto m-4 hidden md:flex md:visible">
        <div class="skeleton w-full h-8 mb-2 mt-[-4px]"/>
        <div class="skeleton w-full h-6 mb-2"/>
        <div class="skeleton w-full h-6 mb-2"/>
        <div class="skeleton w-full h-60 mb-4 text-gray-600 p-4">Stay tuned...</div>
        <div class="flex flex-row gap-2">
        <div class="skeleton w-14 h-5"/>
        <div class="skeleton w-26 h-5"/>
        <div class="skeleton w-10 h-5"/>
        </div>
      </div>  

                  <div class="card rounded-b-2xl rounded-t-none group rolling hover:scale-105 hover:rotate-[1deg] hover:z-10 
    relative overflow-visible bg-base-200 p-6 shadow-md 
    max-w-xs h-auto m-4 hidden md:flex md:visible">
        <div class="skeleton w-full h-8 mb-2 mt-[-4px]"/>
        <div class="skeleton w-full h-6 mb-2"/>
        <div class="skeleton w-full h-6 mb-2"/>
        <div class="skeleton w-full h-60 mb-4 text-gray-600 p-4">Stay tuned...</div>
        <div class="flex flex-row gap-2">
        <div class="skeleton w-14 h-5"/>
        <div class="skeleton w-26 h-5"/>
        <div class="skeleton w-10 h-5"/>
        </div>
      </div> 
      
      

      
  
      

      
      
    </div>