---
import { Icon } from "astro-icon/components";

---
<ul class="timeline">
  <li class="group">
    <hr />
    <div class="timeline-start group-hover:scale-120 transition-transform duration-300">2018</div>
    <div class="timeline-middle group-hover:scale-120 transition-transform duration-300">
<Icon name="fa-solid:user-graduate" class="h-5 w-5" />
      </div>
      <div class="timeline-end timeline-box card rounded-b-2xl rounded-t-none group rolling hover:scale-105 hover:rotate-[1deg] hover:z-10 
    relative overflow-visible bg-base-200 p-6 shadow-md 
    hover:shadow-lg hover:bg-base-300 max-w-xs h-64 m-4">

        <div class="flex flex-col gap-2 text-sm text-gray-500 group-hover:text-primary transition-colors duration-300">
            <p class="font-semibold text-base-content">Doctorat : Traitement du signal, informatique et applications</p>
            <p>Institut de Recherche XLIM</p>
            <p>Quadra Informatique (maintenant We+)</p>
          </div>
          <p class="mt-4 text-gray-600 group-hover:text-primary font-semibold leading-relaxed transition-colors duration-300">
            Thèse CIFRE :
            "Indexation bio-inspirée pour la recherche d'images par similarité."<a aria-label="Thesis" href="https://theses.hal.science/tel-02044285" target="_blank">🔗</a>
          </p>
          <div class="flex flex-wrap m-2 gap-2">
          <span class="badge badge-primary badge-sm badge-outline h-fit">R&D</span>
          <span class="badge badge-primary badge-sm badge-outline h-fit">Deep Learning</span>
          <span class="badge badge-primary badge-sm badge-outline h-fit">Computer vision</span>
        </div>

      </div>
      <hr />
    </li>
    <li class="group">
      <hr />
      <div class="timeline-start group-hover:scale-120 transition-transform duration-300">2015</div>
      <div class="timeline-middle group-hover:scale-120 transition-transform duration-300">
        <Icon name="fa-solid:user-graduate" class="h-5 w-5" />
        
      </div>
      <div class="timeline-end timeline-box card rounded-b-2xl rounded-t-none group rolling hover:scale-105 hover:rotate-[1deg] hover:z-10 
    relative overflow-visible rounded-xl bg-base-200 p-6 shadow-md 
    hover:shadow-lg hover:bg-base-300 max-w-xs h-64 m-4">
        <div class="flex flex-col gap-2 text-sm text-gray-500 group-hover:text-primary transition-colors duration-300">
          <p class="font-semibold text-base-content">Master Informatique, Multimédia, Télécommunication</p>
            <p>UFR Sciences Fondamentales et Appliquées</p>
            <p>Université de Poitiers</p>
          </div>
          <p class="mt-4 text-gray-600 group-hover:text-primary font-semibold leading-relaxed transition-colors duration-300">
                Major de promotion, mention bien
            </p> 
            <div class="flex flex-wrap m-2 gap-2">
              <div class="badge badge-primary badge-sm badge-outline h-fit">Computer vision</div>
              <div class="badge badge-primary badge-sm badge-outline h-fit">Machine Learning</div>
              <div class="badge badge-primary badge-sm badge-outline h-fit">Communication numérique</div>
              <div class="badge badge-primary badge-sm badge-outline h-fit">Informatique</div>
              <div class="badge badge-primary badge-sm badge-outline h-fit">Réseau</div>
            </div>
      </div>
      <hr />
    </li>
    <li class="group">
      <hr />
      <div class="timeline-start group-hover:scale-120 transition-transform duration-300">2013</div>
      <div class="timeline-middle group-hover:scale-120 transition-transform duration-300">
<Icon name="fa-solid:user-graduate" class="h-5 w-5" />
      </div>
      <div class="timeline-end timeline-box card rounded-b-2xl rounded-t-none group rolling hover:scale-105 hover:rotate-[1deg] hover:z-10 
    relative overflow-visible rounded-xl bg-base-200 p-6 shadow-md 
    hover:shadow-lg hover:bg-base-300 max-w-xs h-64 m-4">
        <div class="flex flex-col gap-2 text-sm text-gray-500 group-hover:text-primary transition-colors duration-300">
          <p class="font-semibold text-base-content">Licence Electronique et Signal (Sciences Technologie et Santé)</p>
            <p>UFR Sciences Fondamentales et Appliquées</p>
            <p>Université de Poitiers</p>
          </div>
          <p class="mt-4 text-gray-600 group-hover:text-primary font-semibold leading-relaxed transition-colors duration-300">
            2ème de promotion, mention assez bien
        </p>
        <div class="flex flex-wrap m-2 gap-2">
          <div class="badge badge-primary badge-sm badge-outline h-fit">Algorithmie</div>
          <div class="badge badge-primary badge-sm badge-outline h-fit">Structure de données</div>
          <div class="badge badge-primary badge-sm badge-outline h-fit">Traitement du signal</div>
          <div class="badge badge-primary badge-sm badge-outline h-fit">Méthodes numériques</div>
          <div class="badge badge-primary badge-sm badge-outline h-fit">Génie électrique</div>
        </div>
      </div>
      <hr />
    </li>
    <li class="group">
      <hr />
      <div class="timeline-start group-hover:scale-120 transition-transform duration-300">2012</div>
      <div class="timeline-middle group-hover:scale-120 transition-transform duration-300">
<Icon name="fa-solid:user-graduate" class="h-5 w-5" />
      </div>
      <div class="timeline-end timeline-box card rounded-b-2xl rounded-t-none group rolling hover:scale-105 hover:rotate-[1deg] hover:z-10 
    relative overflow-visible rounded-xl bg-base-200 p-6 shadow-md 
    hover:shadow-lg hover:bg-base-300 max-w-xs h-64 m-4">

        <div class="flex flex-col gap-2 text-sm text-gray-500 group-hover:text-primary transition-colors duration-300">
          <p class="font-semibold text-base-content">Génie Electrique et Informatique Industrielle</p>
            <p>IUT Angoulême</p>
            <p>Université de Poitiers</p>
          </div>
          <p class="invisible mt-4 text-gray-600 group-hover:text-primary font-semibold leading-relaxed transition-colors duration-300">
            ~
        </p> 
        <div class="flex flex-wrap m-2 gap-2">
          <div class="badge badge-primary badge-sm badge-outline h-fit">Informatique industrielle</div>
          <div class="badge badge-primary badge-sm badge-outline h-fit">Génie électrique</div>
          <div class="badge badge-primary badge-sm badge-outline h-fit">Algorithmie</div>
          <div class="badge badge-primary badge-sm badge-outline h-fit">Télécommunications</div>
        </div>
      </div>
      <hr />
    </li>
  </ul>