---
---
	<div class="hero-content text-center z-auto">
	  <div class="max-w-md z-auto">
		<h1 class="text-5xl font-bold">Bienvenue</h1>
		<p class="py-6">
		  Je m'appelle Dorian Michaud et je suis tech leader.
		  Ce site permet de me présenter avec un peu plus de détails qu'un simple CV.
		  Enjoy !
		</p>
		<button class="btn btn-primary" onclick="window.location.href='#about'">Commencer</button>
	  </div>
	</div>

