---
---
	<div class="hero-content text-center z-auto">
	  <div class="max-w-md z-auto">
		<h1 class="text-5xl font-bold">Bonjour !</h1>
		<p class="py-6">
		  Je m'appelle Dorian Michaud, tech leader.<br/>Bienvenue sur mon portfolio.
		</p>
		<button class="btn btn-primary" onclick="window.location.href='#about'" aria-label="Go to about me section">Commencer</button>
	  </div>
	</div>

